# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Local data (DO NOT upload Spotify export)
data/
*.json
*.parquet
*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/